<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Airport</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>

          <ng-template #popTemplate>
            <h4 class="text-center">Information</h4>
            <small class="text-justify"
              >User able to view and update the airport.</small
            >
          </ng-template>
          <button
            class="btn btn-icon btn-sm btn-dark"
            type="button"
            [popover]="popTemplate"
            placement="right"
            [outsideClick]="true"
          >
            <span class="btn-inner--icon"
              ><i class="fas fa-info-circle"></i
            ></span>
          </button>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <button
            class="btn btn-dark"
            (click)="create(classic1)"
            *ngIf="authService.decodedToken().user_type == 'OPS'"
          >
            Add New Airport
          </button>

          <ng-template #classic1 let-c="close" let-d="dismiss">
            <div class="modal-content">
              <div class="modal-body p-0">
                <div class="card bg-secondary shadow border-0">
                  <div class="card-header bg-dark">
                    <div class="text-muted text-center mb-3">
                      <h2 class="mb-0 text-white">{{ processTitle }}</h2>
                    </div>
                  </div>
                  <div class="card-body px-lg-5 py-lg-5">
                    <form [formGroup]="airportFormGroup">
                      <div class="row">
                        <div class="col-lg-4 col-xs-12">
                          <div class="form-group">
                            <label class="form-control-label"
                              >Airport Name</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter airport name"
                              formControlName="name"
                            />
                          </div>
                          <div class="form-group">
                            <label class="form-control-label">Airport ID</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter airport id"
                              formControlName="aid"
                            />
                          </div>
                          <div class="form-group">
                            <label class="form-control-label">Category</label>
                            <select
                              class="form-control"
                              formControlName="airport_category"
                            >
                              <option value="">Please select category</option>
                              <option value="D">Domestic</option>
                              <option value="I">International</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                          <div class="form-group">
                            <label class="form-control-label">ICAO Code</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter ICAO code"
                              formControlName="icao_code"
                            />
                          </div>
                          <div class="form-group">
                            <label class="form-control-label">IATA Code</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter IATA code"
                              formControlName="iata_code"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                          <div class="form-group">
                            <label class="form-control-label">Country</label>
                            <select
                              class="form-control"
                              formControlName="country"
                            >
                              <option value="">Please select</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label class="form-control-label"
                              >Country Code</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter country code"
                              formControlName="country_code"
                            />
                          </div>
                        </div>
                      </div>

                      <hr />
                      <h4>Airport Contact Detail</h4>
                      <div class="row">
                        <div class="col-lg-4 col-xs-12">
                          <div class="form-group">
                            <label class="form-control-label"
                              >Office Number</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter office number"
                              formControlName="office_num"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                          <div class="form-group">
                            <label class="form-control-label"
                              >Mobile Number</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter mobile number"
                              formControlName="mobile_num"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                          <div class="form-group">
                            <label class="form-control-label">Fax Number</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter fax number"
                              formControlName="fax_num"
                            />
                          </div>
                        </div>
                      </div>

                      <hr />
                      <h4>Person In Charge Contact Detail</h4>
                      <div class="row">
                        <div class="col-lg-4 col-xs-12">
                          <div class="form-group">
                            <label class="form-control-label">Name</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter pic name"
                              formControlName="pic_name"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                          <div class="form-group">
                            <label class="form-control-label">Number</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter pic number"
                              formControlName="pic_num"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-xs-12">
                          <div class="form-group">
                            <label class="form-control-label">Status</label>
                            <select
                              class="form-control"
                              placeholder="Please select"
                              formControlName="is_active"
                            >
                              <option value="">Please select</option>
                              <option value="true">Active</option>
                              <option value="false">Not Active</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="text-center">
                        <button class="btn btn-dark" (click)="submit()">
                          Submit
                        </button>
                        <button
                          class="btn btn-secondary"
                          data-dismiss="modal"
                          (click)="c('Close click')"
                        >
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h3 class="mb-0">Airport</h3>
            </div>
            <div class="col-auto text-right">
              <ng-template #popTemplate>
                <h4 class="text-center">Category</h4>
                <ul>
                  <li>I: International</li>
                  <li>D: Domestic</li>
                  <li>O: Others</li>
                </ul>
              </ng-template>
              <button
                class="btn btn-default btn-sm"
                [popover]="popTemplate"
                placement="right"
                [outsideClick]="true"
              >
                Note
              </button>
            </div>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
            [scrollbarH]="true"
          >
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>No.</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.no + 1 }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Name</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.name }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>ICAO Code</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.icao_code }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>IATA Code</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.iata_code }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Country</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.country }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="Actions"
              sortable="false"
              prop="id"
              *ngIf="authService.decodedToken().user_type == 'OPS'"
            >
              <ng-template ngx-datatable-header-template>
                <span>Actions</span>
              </ng-template>
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <button
                  class="btn btn-dark btn-sm"
                  (click)="edit(row, classic1)"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <!-- <button class="btn btn-sm btn-warning">
                  <i class="fas fa-lightbulb"></i>
                </button> -->

                <!-- <button
                          class="btn btn-danger btn-sm"
                          (click)="delete(value)"
                        >
                          <i class="fas fa-trash"></i>
                        </button> -->
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Status">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <label class="custom-toggle">
                  <input type="checkbox" checked="" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="No"
                    data-label-on="Yes"
                  ></span>
                </label>
              </ng-template>
            </ngx-datatable-column> -->
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
