<div class="header background-theme">
  <div class="header pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">
              Aging Invoice &nbsp;
            </h6>

            <ng-template #popTemplate>
              <h4 class="text-center">Information</h4>
              <small class="text-justify">User able to view and download report of aging invoice.</small>
            </ng-template>
            <button class="btn btn-icon btn-sm btn-dark" type="button" [popover]="popTemplate" placement="right"
              [outsideClick]="true">
              <span class="btn-inner--icon"><i class="fas fa-info-circle"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--8 ">
  <div class="row">
    <div class="col">
      <div class="card mb-4">
        <div class="card-header bg-secondary">
          <h4 class="mb-0"><i class="fas fa-search" aria-hidden="true"></i>&nbsp;Search</h4>
        </div>
        <div class="card-body">
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Filter By</label>
                <select class="form-control" [(ngModel)]="filterby" id="filterby">
                  <option value="all">-Select Filter By-</option>
                  <option value="date">Date</option>
                  <option value="companyname">Company</option>
                  <option value="invoicenumber">Invoice No.</option>
                </select>
              </div>
            </div>

            <div class="col-md-6" *ngIf="filterby==='companyname'">
              <div class="form-group">
                <label class="form-control-label">Search Keyword</label>
                <input type="text" class="form-control" placeholder="Search Company Name"
                  [(ngModel)]="searchText" (keyup)="FilterTable(searchText)">
              </div>
            </div>

            <div class="col-md-6" *ngIf="filterby==='invoicenumber'">
              <div class="form-group">
                <label class="form-control-label">Search Keyword</label>
                <input type="text" class="form-control" placeholder="Search Invoice No."
                  [(ngModel)]="searchText" (keyup)="FilterTable(searchText)">
              </div>
            </div>

            <!-- <div class="col-md-6" *ngIf="filterby==='date'">
              <h4>Search by Date</h4>
              <div class="row">
                <div class="col-xs-6 col-md-6 form-group">
                  <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker"
                    placeholder="Enter Start Date" bsDatepicker [(ngModel)]="fromDate">
                </div>
                <div class="col-xs-6 col-md-6 form-group">
                  <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp1="bsDatepicker"
                    placeholder="Enter End Date" bsDatepicker [(ngModel)]="toDate">
                </div>
              </div>
              <div class="row">
                <div class="col clearfix">
                  <button class="btn btn-warning float-right" (click)="FilterDate()">Search</button>
                </div>
              </div>
            </div> -->

            <div class="col-md-6" *ngIf="filterby==='date'">
              <h4>Search by Date</h4>
              <div class="row">
                <div class="col-xs-12 col-md-12 form-group">
                  <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker"
                    placeholder="Enter Start Date" bsDatepicker [(ngModel)]="fromDate" (ngModelChange)="FilterDate()">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col">
      <div class="card">
        <div class=" table-responsive mt-0">
          <table class=" table align-items-center table-flush">
            <thead class=" thead-light">
              <tr>

                <th class=" sort" scope="col">CID</th>

                <th class=" sort" scope="col">INVOICE PERIOD</th>

                <th class=" sort" scope="col">INVOICE NO.</th>

                <th class=" sort" scope="col">INVOICE DATE</th>

                <th class=" sort" scope="col">INVOICE TOTAL</th>

                <th class=" sort" scope="col">0-1 MONTHS</th>

                <th class=" sort" scope="col">1-3 MONTHS</th>

                <th class=" sort" scope="col">4-6 MONTHS</th>

                <th class=" sort" scope="col">7-12 MONTHS</th>

                <th class=" sort" scope="col">13-36 MONTHS</th>

                <th class=" sort" scope="col">37-72 MONTHS</th>

                <th class=" sort" scope="col">>72 MONTHS</th>

                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let row of rows | filter:searchText ">
              <thead class=" thead-light">
                <tr>
                  <td colspan="13"><b>{{row.companyname}}</b></td>
                </tr>
              </thead>
              <tr *ngFor="let secondrow of row.invoice">
                <td>{{secondrow.cid}}</td>
                <td>{{secondrow.invoiceperiod}}</td>
                <td>{{secondrow.invoicenumber}}</td>
                <td>{{secondrow.invoicedate}}</td>
                <td>{{secondrow.invoicetotal}}</td>
                <td>{{secondrow.month0to1}}</td>
                <td>{{secondrow.month1to3}}</td>
                <td>{{secondrow.month4to6}}</td>
                <td>{{secondrow.month7to12}}</td>
                <td>{{secondrow.month13to36}}</td>
                <td>{{secondrow.month36to72}}</td>
                <td>{{secondrow.month72}}</td>
                <td> <a href="javascript:void(0)" (click)="openModal(view,secondrow)" title="click to view">
                    <i class="fa fa-eye text-black" aria-hidden="true"></i>
                  </a>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="javascript:void(0)" title="click to download" (click)='download(row.file)'>
                    <i class="fa fa-download text-black" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td colspan="4">Sub Total:</td>
                <td>{{row.subtotalinvoice}}</td>
                <td>{{row.subtotalmonth0to1}}</td>
                <td>{{row.subtotalmonth1to3}}</td>
                <td>{{row.subtotalmonth4to6}}</td>
                <td>{{row.subtotalmonth7to12}}</td>
                <td>{{row.subtotalmonth13to36}}</td>
                <td>{{row.subtotalmonth36to72}}</td>
                <td>{{row.subtotalmonth72}}</td>
                <td></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->


  <div class="row">
    <div class="col">
      <div class="card">

        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                    (change)="entriesChange($event)">
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable class="bootstrap selection-cell " [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined"
            [rows]="temp | filter:searchText" (activate)="onActivate($event)" [scrollbarH]="true"
            [groupExpansionDefault]="true" [groupRowsBy]="'companyname'">

            <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader >
              <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
                <div style="padding: 10px 20px;" class="mt-4">
                  <div href="javascript:void(0)">
                    <b>{{group.value[0].companyname}}</b>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-group-header>

            <ngx-datatable-column name="cid" style="border-right: solid 1px black !important;">
              <ng-template ngx-datatable-header-template >
                <span>CID</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>INVOICE PERIOD</span>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <table class=" table align-items-center table-flush">
                  <tbody>
                    <tr *ngFor="let secondrow of row.invoice">
                      <td>{{secondrow.invoiceperiod}}</td>
                    </tr>
                    <tr>
                      <td class="hide-temporary">{{0}}</td>
                    </tr>
                  </tbody>
                </table>

              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>INVOICE NO.</span>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <table class=" table align-items-center table-flush">
                  <tbody>
                    <tr *ngFor="let secondrow of row.invoice">
                      <td>{{secondrow.invoicenumber}}</td>
                    </tr>
                    <tr>
                      <td class="hide-temporary">{{0}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>INVOICE DATE</span>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <table class=" table align-items-center table-flush">
                  <tbody>
                    <tr *ngFor="let secondrow of row.invoice">
                      <td>{{secondrow.invoicedate}}</td>
                    </tr>
                    <tr>
                      <td class="total">SUBTOTAL</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>INVOICE TOTAL</span>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <table class=" table align-items-center table-flush">
                  <tbody>
                    <tr *ngFor="let secondrow of row.invoice">
                      <td>{{secondrow.invoicetotal | currency: "MYR"}}</td>
                    </tr>
                    <tr>
                      <td class="total">{{row.subtotalinvoice | currency: "MYR"}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
              <ngx-datatable [rowHeight]="100" [columnMode]="'flex'" [rows]="temp" [scrollbarV]="true"
                [virtualization]="false">
                <ngx-datatable-column name="companyname">
                  <ng-template ngx-datatable-header-template>
                    <span>test.</span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>0-1 Months</span>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <table class=" table align-items-center table-flush">
                  <tbody>
                    <tr *ngFor="let secondrow of row.invoice">
                      <td>{{secondrow.month0to1 | currency: "MYR"}}</td>
                    </tr>
                    <tr>
                      <td class="total">{{row.subtotalmonth0to1 | currency: "MYR"}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>1-3 Months</span>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <table class=" table align-items-center table-flush">
                  <tbody>
                    <tr *ngFor="let secondrow of row.invoice">
                      <td>{{secondrow.month1to3 | currency: "MYR"}}</td>
                    </tr>
                    <tr>
                      <td class="total">{{row.subtotalmonth1to3 | currency: "MYR"}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>4-6 Months</span>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <table class=" table align-items-center table-flush">
                  <tbody>
                    <tr *ngFor="let secondrow of row.invoice">
                      <td>{{secondrow.month4to6 | currency: "MYR"}}</td>
                    </tr>
                    <tr>
                      <td class="total">{{row.subtotalmonth4to6 | currency: "MYR"}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>7-12 Months</span>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <table class=" table align-items-center table-flush">
                  <tbody>
                    <tr *ngFor="let secondrow of row.invoice">
                      <td>{{secondrow.month7to12 | currency: "MYR"}}</td>
                    </tr>
                    <tr>
                      <td class="total">{{row.subtotalmonth7to12 | currency: "MYR"}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>13-36 Months</span>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <table class=" table align-items-center table-flush">
                  <tbody>
                    <tr *ngFor="let secondrow of row.invoice">
                      <td>{{secondrow.month13to36 | currency: "MYR"}}</td>
                    </tr>
                    <tr>
                      <td class="total">{{row.subtotalmonth13to36 | currency: "MYR"}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>36-72 Months</span>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <table class=" table align-items-center table-flush">
                  <tbody>
                    <tr *ngFor="let secondrow of row.invoice">
                      <td>{{secondrow.month36to72 | currency: "MYR"}}</td>
                    </tr>
                    <tr>
                      <td class="total">{{row.subtotalmonth36to72 | currency: "MYR"}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>>72 Months</span>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <table class=" table align-items-center table-flush">
                  <tbody>
                    <tr *ngFor="let secondrow of row.invoice">
                      <td>{{secondrow.month72 | currency: "MYR"}}</td>
                    </tr>
                    <tr>
                      <td class="total">{{row.subtotalmonth72 | currency: "MYR"}}</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>ACTION</span>
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row">
                <table class=" table align-items-center table-flush">
                  <tbody>
                    <tr *ngFor="let secondrow of row.invoice">
                      <td><a href="javascript:void(0)" (click)="openModal(view,row)" title="click to view">
                          <i class="fa fa-eye text-black" aria-hidden="true"></i>
                        </a>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="javascript:void(0)" title="click to download" (click)='download(row.file)'>
                          <i class="fa fa-download text-black" aria-hidden="true"></i>
                        </a></td>
                    </tr>
                    <tr>
                      <td class="hide-temporary">
                        {{0}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>

</div>


<ng-template #view>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Aging Invoice
    </h6>

    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="row clearfix">
        <div class="col">
          <span>
            <span class="h1">AGING INVOICE</span><br>
            <span class="h3">{{companyname}}</span><br>
            {{"Invoice Date: " + invoicedate}}<br>
            {{"Invoice Number: " + invoicenumber}}<br>
          </span>
        </div>
      </div>
      <hr>
      <img src="../../../../../assets/img/invoice/aginginvoice.jpg" style="position: relative; width: 100%;" />

    </form>
  </div>

  <div class="modal-footer">

    <button class="btn btn-outline-danger ml-auto" data-dismiss="modal" type="button" (click)="closeModal()">
      Close
    </button>
  </div>
</ng-template>