

.view{
    width: 50px !important;
}

a{
    color: black !important;
}

a:hover{
    color: red !important;
}

:host ::ng-deep .datatable-header-cell {
    background-color: #303437 !important;
  }

.background-theme{
    height: 250px;
    background: rgb(19,53,92);
background: linear-gradient(90deg, rgba(19,53,92,1) 20%, rgba(46,126,159,0.9598214285714286) 100%, rgba(41,58,73,1) 100%);
}

.card-header {
    height: 50px !important;
}

.total{
    color: #4E4F50 !important;
    font-weight: bold;
}

.hide-temporary{
    color: transparent !important;
}
