<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Movement Report of {{ invoice.organisation.name }}
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>

          <ng-template #popTemplate>
            <h4 class="text-center">Information</h4>
            <!-- <small class="text-justify"
                  >User able to upload VFR and TFL data in this module. This system
                  will automatically check for error, calculate the invoice and
                  generate invoice.<br />
                  User will need to update the error data in order to generate
                  invoice.<br />
                  After cleaning the data, user will need to press submit button in
                  order to save into database.</small
                > -->
          </ng-template>
          <button
            class="btn btn-icon btn-sm btn-dark"
            type="button"
            [popover]="popTemplate"
            placement="right"
            [outsideClick]="true"
          >
            <span class="btn-inner--icon"
              ><i class="fas fa-info-circle"></i
            ></span>
          </button>
        </div>

        <div class="col-lg-6 text-right">
          <button class="btn btn-dark" (click)="back()">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <div class="form-group">
        <label class="form-control-label">Invoice Period</label>
        <input type="text" class="form-control" readonly value="" />
      </div>
      <div class="form-group">
        <label class="form-control-label">CID</label>
        <input
          type="text"
          class="form-control"
          readonly
          [value]="invoice.cid"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Company Name</label>
        <input
          type="text"
          class="form-control"
          readonly
          [value]="invoice.organisation.name"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Total Charges (RM)</label>
        <input
          type="text"
          class="form-control"
          readonly
          [value]="invoice.total_amount"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Total Flight</label>
        <input
          type="text"
          class="form-control"
          readonly
          [value]="invoice.total_flight"
        />
      </div>
    </div>

    <div class="col-lg-6 col-xs-12">
      <div class="form-group">
        <label class="form-control-label">Domestic Flight</label>
        <input
          type="text"
          class="form-control"
          readonly
          [value]="countDomestic.length"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Inbound Flight</label>
        <input
          type="text"
          class="form-control"
          readonly
          [value]="countInbound.length"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Outbound Flight</label>
        <input
          type="text"
          class="form-control"
          readonly
          [value]="countOutbound.length"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Over Flight</label>
        <input
          type="text"
          class="form-control"
          readonly
          [value]="countOver.length"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Local Flight</label>
        <input
          type="text"
          class="form-control"
          readonly
          [value]="countLocal.length"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h3 class="mb-0">
                List of {{ invoice.organisation.name }} Flight Data
              </h3>
            </div>
            <div class="col-auto"></div>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <!-- <option value="-1" [selected]="entries == -1">All</option> -->
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
            [scrollbarH]="true"
          >
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>No</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.no + 1 }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Active Time</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.fpl_date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Callsign</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.fpl_no }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>AC Type</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.aircraft_model }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>DEP</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.dep }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>DEST</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.dest }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>CTG</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.ctg }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Dist</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.dist | number: "1.0-0" }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Route</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.route }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" sortable="false" prop="id">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <button
                  class="btn btn-warning btn-sm"
                  (click)="edit(row, vfrtflModal)"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-sm" (click)="delete(value)">
                  <i class="fas fa-trash"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #vfrtflModal let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-dark">
          <div class="text-muted text-center mb-3">
            <h2 class="mb-0 text-white">{{ processTitle }}</h2>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form [formGroup]="vfrtflFormGroup">
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="vfrtflFormGroup.value.error_remark"
            >
              <h3>Error</h3>
              <p>{{ vfrtflFormGroup.value.error_remark }}</p>
            </div>
            <div class="row">
              <div class="col-lg-6 col-xs-12">
                <!-- <div class="form-group">
                    <label class="form-control-label">RTID</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter rtid"
                      formControlName="RTID"
                    />
                  </div> -->
                <!-- <div class="form-group">
                    <label class="form-control-label">Registration</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter registration"
                      formControlName="REGISTRATION"
                    />
                  </div> -->
                <!-- <div class="form-group">
                    <label class="form-control-label">Ground Handler</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter groundhandler"
                      formControlName="GROUNDHANDLER"
                    />
                  </div> -->
                <div class="form-group">
                  <label class="form-control-label">A/C Type (Model)</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter A/C type (model)"
                    formControlName="aircraft_model"
                  />
                </div>
                <div class="form-group">
                  <label class="form-control-label">Dest</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter dest"
                    formControlName="dest"
                  />
                </div>
                <div class="form-group">
                  <label class="form-control-label">Active Time</label>
                  <input
                    type="text"
                    readonly
                    class="form-control"
                    placeholder="Enter active time"
                    formControlName="fpl_date"
                  />
                </div>
                <div class="form-group">
                  <label class="form-control-label">CTG</label>
                  <input
                    type="text"
                    readonly
                    class="form-control"
                    placeholder="Enter ctg"
                    formControlName="ctg"
                  />
                </div>
              </div>

              <div class="col-lg-6 col-xs-12">
                <div class="form-group">
                  <label class="form-control-label">Callsign</label>
                  <input
                    type="text"
                    readonly
                    class="form-control"
                    placeholder="Enter callsign"
                    formControlName="fpl_no"
                  />
                </div>
                <!-- <div class="form-group">
                    <label class="form-control-label">Operator</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter operator"
                      formControlName="OPERATOR"
                    />
                  </div> -->
                <div class="form-group">
                  <label class="form-control-label">Dep</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter dep"
                    formControlName="dep"
                  />
                </div>
                <!-- <div class="form-group">
                    <label class="form-control-label">Date of Flight</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter date of flight"
                      formControlName="DATEOFFLIGHT"
                    />
                  </div> -->
                <div class="form-group">
                  <label class="form-control-label">Distance</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter distance"
                    formControlName="dist"
                  />
                </div>
                <div class="form-group">
                  <label class="form-control-label">Route List</label>
                  <textarea
                    rows="3"
                    class="form-control"
                    placeholder="Enter route list"
                    formControlName="route"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-dark" (click)="update()">
                Update
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                (click)="c('Close click')"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="timer"
  [fullScreen]="true"
  ><p style="color: white">Loading, Please wait a moment...</p></ngx-spinner
>
