<div class="header pb-6 background-theme">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">
            Task &nbsp;
          </h6>

          <!-- <ng-template #popTemplate>
            <h4 class="text-center">Information</h4>
            <small class="text-justify">User able to upload VFR and TFL data in this module. This system
              will automatically check for error, calculate the invoice and
              generate invoice.<br />
              User will need to update the error data in order to generate
              invoice.<br />
              After cleaning the data, user will need to press submit button in
              order to save into database.</small>
          </ng-template>
          <button class="btn btn-icon btn-sm btn-dark" type="button" [popover]="popTemplate" placement="right"
            [outsideClick]="true">
            <span class="btn-inner--icon"><i class="fas fa-info-circle"></i></span>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--8">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white;">Loading, Please wait a moment...</p>
  </ngx-spinner>
  <div class="row">
    <div class="col">
      <div class="card mb-4">
        <div class="card-header bg-secondary">
          <h4 class="mb-0"><i class="fas fa-search" aria-hidden="true"></i>&nbsp;Search</h4>
        </div>
        <div class="card-body">
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label class="form-control-label">Filter By</label>
                <select class="form-control" [(ngModel)]="filterby" id="filterby">
                  <option value="all">-Select Filter By-</option>
                  <option value="name">File Name</option>
                  <option value="date">Upload Date</option>
                  <option value="uploaded_by">Upload By</option>
                  <!-- <option value="date">File Date</option> -->
                </select>
              </div>
            </div>

            <div class="col-md-6" *ngIf="filterby==='name'">
              <div class="form-group">
                <label class="form-control-label">Search Keyword</label>
                <input type="text" class="form-control" placeholder="Search File Name" [(ngModel)]="searchText"
                  >
              </div>
            </div>

            <div class="col-md-6" *ngIf="filterby==='uploaded_by'">
              <div class="form-group">
                <label class="form-control-label">Search Keyword</label>
                <input type="text" class="form-control" placeholder="Search Upload By" [(ngModel)]="searchText"
                  >
              </div>
            </div>

 
            <div class="col-md-6" *ngIf="filterby==='date'">
              <h4>Search by Date</h4>
              <div class="row">
                <div class="col-xs-12 col-md-12 form-group">
                  <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker"
                    placeholder="Enter Date" bsDatepicker [(ngModel)]="fromDate" (ngModelChange)="filterDate()">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h4 class="mb-0">List of Uploaded VFR and TFL File</h4>
            </div>
            <div class="col-auto"></div>
          </div>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                    (change)="entriesChange($event)">
                    <option value="5" [selected]="entries == 5">5</option>
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <!-- <option value="-1" [selected]="entries == -1">All</option> -->
                  </select>
                  entries
                </label>
              </div>
            </div>
            <!-- <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input type="search" class="form-control form-control-sm" placeholder="Search records"
                    aria-controls="datatable" (keyup)="filterTableUpload($event)" />
                </label>
              </div>
            </div> -->
          </div>

          <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined"
            [rows]="tempFileUpload | filter: searchText" (activate)="onActivate($event)" [scrollbarH]="true">
            <ngx-datatable-column [width]="40">
              <ng-template ngx-datatable-header-template>
                <span>No.</span>
              </ng-template>
              <ng-template let-row="tempFileUpload" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{
                  rowIndex +1
                }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Upload Date</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.created_at | date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>File Name</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.name }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>File Type</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.data_type }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>File Date</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.file_date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Upload By</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.uploaded_by.full_name }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Total Data</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.total_data | number }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span [ngClass]="getStatusBadge(row.status)">{{ getStatus(row.status) }}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" sortable="false" prop="id">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <a href="javascript:void(0)" title="click to view"
                  (click)="openModal(proccessing, row)">
                  <i class="fas fa-eye"></i>
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- open modal flight -->


<!-- proccessing modal -->

<ng-template #proccessing>

  <div class="modal-header bg-default viewtemplate">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Flight Data
    </h6>

    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body modal-body-color">

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                      (change)="entriesChange($event)">
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="25" [selected]="entries == 25">25</option>
                      <option value="50" [selected]="entries == 50">50</option>
                      <!-- <option value="-1" [selected]="entries == -1">All</option> -->
                    </select>
                    entries
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-4" style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                ">
                <!-- <span class="text-danger pr-3">Show error data(s) only</span> -->
                <!-- <label class="custom-toggle">
                  <input type="checkbox" checked="" [(ngModel)]="toggleDataError"
                    [ngModelOptions]="{ standalone: true }" (change)="showDataError()" />
                  <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                </label> -->
              </div>
              <div class="col-sm-12 col-md-4">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input type="search" class="form-control form-control-sm" placeholder="Search records"
                      aria-controls="datatable" (keyup)="filterTableFlight($event)" />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [rowClass]="getRowClass"
              [limit]="entries != -1 ? entries : undefined" [rows]="tempFlightDataProcess" (activate)="onActivate($event)"
              [scrollbarH]="true">
              <ngx-datatable-column [width]="40">
                <ng-template ngx-datatable-header-template>
                  <span>No.</span>
                </ng-template>
                <ng-template let-row="tempFlightDataProcess" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  {{
                    rowIndex +1
                  }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Active Time</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.fpl_date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Callsign</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.fpl_no }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>AC Type</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.aircraft_model }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>DEP</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.dep }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>DEST</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.dest }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>CTG</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.ctg }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Dist</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.dist | number: "1.0-0" }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Route</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.route }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" sortable="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-row="row">
                  <a href="javascript:void(0)" title="click to edit" (click)="openModalModal(edit, row)">
                    <i class="fa fa-edit text-black" aria-hidden="true"></i>
                  </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="javascript:void(0)" title="click to delete" (click)="openModalModal(delete, row)">
                    <i class="fa fa-trash text-black" aria-hidden="true"></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4>Archive Data</h4>
        <div class="card">

          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                      (change)="entriesChange($event)">
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="25" [selected]="entries == 25">25</option>
                      <option value="50" [selected]="entries == 50">50</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    entries
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input type="search" class="form-control form-control-sm" placeholder="Search records"
                      aria-controls="datatable" (keyup)="filterTableFlightHistory($event)" />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [rowClass]="getRowClass"
              [limit]="entries != -1 ? entries : undefined" [rows]="tempFlightDataHistory"
              (activate)="onActivate($event)" [scrollbarH]="true">
              <ngx-datatable-column [width]="40">
                <ng-template ngx-datatable-header-template>
                  <span>No.</span>
                </ng-template>
                <ng-template let-row="tempFlightDataHistory" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  {{
                    rowIndex +1
                  }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Active Time</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.fpl_date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Callsign</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.fpl_no }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>AC Type</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.aircraft_model }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>DEP</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.dep }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>DEST</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.dest }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>CTG</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.ctg }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Dist</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.dist | number: "1.0-0" }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Route</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.route }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Reason</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.reason }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="200">
                <ng-template ngx-datatable-header-template>
                  <span>Remark</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{
                    row.remark
                  }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" sortable="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-row="row">
                  <a href="javascript:void(0)" title="click to undo" (click)="undoArchive(row)">
                    <i class="fa fa-undo text-black" aria-hidden="true"></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer modal-footer-color">
    <button class="btn btn-outline-danger" data-dismiss="modal" type="button" (click)="closeModal()">
      Cancel
    </button>
    <div class="ml-auto">
      <button class="btn btn-success" (click)="approveData()">
        Approve
      </button>
    </div>
  </div>
</ng-template>


<!-- edit modal -->
<ng-template #edit>

  <div class="modal-header bg-default viewtemplate">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Edit Data
    </h6>

    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModalModal()">
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label">Date/Time</label>
          <input class="form-control" [(ngModel)]="selectedRow.fpl_date" [ngModelOptions]="{standalone: true}"
            type="text" disabled>
        </div>
        <div class="form-group">
          <label class="form-control-label">Type</label>
          <input class="form-control" [(ngModel)]="selectedRow.aircraft_model" [ngModelOptions]="{standalone: true}"
            type="text">
        </div>
        <div class="form-group">
          <label class="form-control-label">Destination</label>
          <input class="form-control" [(ngModel)]="selectedRow.dest" [ngModelOptions]="{standalone: true}" type="text">
        </div>
        <div class="form-group">
          <label class="form-control-label">Distance</label>
          <input class="form-control" placeholder="selectedRow.dist | number" [(ngModel)]="selectedRow.dist"
            [ngModelOptions]="{standalone: true}" type="text" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label">Callsign</label>
          <input class="form-control" [(ngModel)]="selectedRow.fpl_no" [ngModelOptions]="{standalone: true}"
            type="text">
        </div>
        <div class="form-group">
          <label class="form-control-label">Departure</label>
          <input class="form-control" [(ngModel)]="selectedRow.dep" [ngModelOptions]="{standalone: true}" type="text">
        </div>
        <div class="form-group">
          <label class="form-control-label">CTG</label>
          <input class="form-control" [(ngModel)]="selectedRow.ctg" [ngModelOptions]="{standalone: true}" type="text">
        </div>
        <div class="form-group">
          <label class="form-control-label">Route</label>
          <input class="form-control" [(ngModel)]="selectedRow.route" [ngModelOptions]="{standalone: true}" type="text">
        </div>

      </div>
    </div>



  </div>

  <div class="modal-footer">
    <button class="btn btn-outline-danger" data-dismiss="modal" type="button" (click)="closeModalModal()">
      Cancel
    </button>
    <button class="btn btn-success ml-auto" data-dismiss="modal" type="button" (click)="updateData()">
      Save
    </button>
  </div>

</ng-template>

<!-- modal delete -->
<ng-template #delete>

  <div class="modal-header bg-default viewtemplate">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Message
    </h6>

    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModalModal()">
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="createForm" (ngSubmit)="delete()">
          <div class="form-group">
            <label class="form-control-label">Reason</label>
            <input class="form-control" placeholder="Enter Reason" formControlName="reason" type="text">

            <ng-container *ngFor="let message of registerFormMessages.reason">
              <div *ngIf="
                createForm.get('reason').hasError(message.type) &&
                      (createForm.get('reason').dirty ||
                      createForm.get('reason').touched)
                    ">
                <p class="error-message">
                  <span>{{ message.message }}</span>
                </p>
              </div>
            </ng-container>
          </div>
          <div class="form-group">
            <label class="form-control-label">Remark</label>
            <textarea class=" form-control" placeholder="Enter Remark" rows="5" formControlName="remark"></textarea>

            <ng-container *ngFor="let message of registerFormMessages.remark">
              <div *ngIf="
              createForm.get('remark').hasError(message.type) &&
                    (createForm.get('remark').dirty ||
                    createForm.get('remark').touched)
                  ">
                <p class="error-message">
                  <span>{{ message.message }}</span>
                </p>
              </div>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-outline-danger" data-dismiss="modal" type="button" (click)="closeModalModal()">
      Cancel
    </button>
    <button class="btn btn-danger ml-auto" data-dismiss="modal" type="button" (click)="deleteData()" type="submit"
      [disabled]="createForm.invalid">
      Delete
    </button>
  </div>

</ng-template>